body {
    background-color: rgb(2, 0, 20);
    color: rgb(253, 232, 232);
    padding: 2rem 8rem;
}

div {
    border: 2px solid blue;
}

h1 {

}

h2 {
    color: #db4e55;
    font-size: x-large;
}

h3 {

}

h4 {

}

.bottomBox {
    display: flex;
}

.leftBox {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    padding: 1rem;
    width: 22rem;
}

.okButton {
    margin: 0.5rem;
    flex: 1;
}

.calculator {
    width: 32rem;
    display: flex;
    flex-direction: column;
}

.title {
    height: 4rem;
    text-align: center;
}

.calculation {
    height: 16rem;
}

input {
    background-color: #440003;
    color: rgb(150, 228, 252);
    width: auto;
    height: 5rem;
    margin: 0.5rem 2.5rem;
    font-size: xx-large;
}

div p {
    font-size: xx-large;
    margin: 2.25rem;
}

.leftBox button {
    background-color: #0A3C63;
    color: #630A0F;
    height: 6.5rem;
    width: 6.5rem;
    font-size: 4rem;
    border-radius: 1rem;
}